@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
a{
    text-decoration: none;
}
/* start navbar*/
.logo a img{
    width: 100%;
    height: 55px;
    cursor: pointer;
    margin-left:30px;
    margin-top: 0px;
    padding: 0;
}
.navbar-nav .nav-item .nav-link{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 23px;
    position: relative;
    box-sizing: border-box;
    font-family: 'Marcellus', serif;
}
.navbar-nav .nav-item{
    margin-left:40px;
}
.navbar-nav .nav-item .nav-link.active::after{
    width: 100%;
}
.navbar-nav .nav-item .nav-link.active{
    width: 100%;
}
.navbar-nav .nav-item .nav-link::after{
    content: '';
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 0%;
    height: 0.125rem;
    background-color: #fff;
    transition: .5s;
}
.navbar-toggler{
    background-color: #fff;
}
.navbar-toggler-icon{
    color: #fff !important;
}
.dropdown-toggle::after {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.side-bar{
    float: right;
    text-align: right;
    width: 20%;
}
.navbar-nav .nav-item .nav-link:hover::after{
    width: 100%;
}
/*Headar*/
.header{
    background-image: url('../img/p2-title-img-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 480px;
    background-position: center;
    margin-bottom: 70px;
}
.header-title {
    line-height: 1.22em;
    font-weight: 400;
    padding-top: 170px;
    text-align: center;
    text-transform: uppercase;
    font-family:'Marcellus', serif ;
    font-size: 60px;
}
.header-title span{
    margin-top: 50px;
}
.overlay{
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
/*About*/
.about-des{
   text-align: center;
}
.about-des img{
    margin-bottom: 30px;
}
.about-des h2{
    color: #262626;
    font-family:'Marcellus', serif;
    font-size:45px ;
    font-weight:400 ;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.about-des p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.55em;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 50px;
}
.item img{
    margin-bottom:30px ;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
}
.item p{
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
   color:#656565;
}
/*Testimonial*/
.testimonial{
    padding: 30px 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% -26px;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background-attachment: fixed;
    background-position: 50% 28px;
    background-size: cover;
    margin-top: 20px;
}
.carousel-item .leaves{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.carousel-indicators [data-bs-target]{
    background-color: #fff;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}
.carousel-caption{
    margin-top: 20px;
}
.carousel-caption h5{
    text-transform: uppercase;
    color: #fff;
    font-family:'Marcellus', serif;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 400;
}
.carousel-caption img{
    margin-bottom: 30px;
}
.carousel-caption p{
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.carousel-caption .spa1{
   text-transform: uppercase;
   font-family: 'Marcellus', serif;
   font-size: 16px;
   letter-spacing: .5px;
   font-weight: 300;
}
.carousel-caption .spa2{
    font-style: italic;
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: 300;
}
/* COUNTER */ 
.count {
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-items{
    width: 100%;
    padding-bottom: 6.25rem;
    text-align: center;
}
.counter-item {
    margin-top: 6.25rem;
}
.counter-item h3{
    color: #be9c79;
    font-family:'Marcellus', serif;
    font-size: 3.4375rem;
    margin-bottom: 1.25rem;
}
.counter-item h4{
    color: rgb(38, 38, 38);
    font-family:'Marcellus', serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.625rem;
}
.counter-item p{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.975rem;
    line-height: 1.625rem;
    font-weight: 300;
    color: #656565;
    margin: auto;
    margin-bottom: 0.9375rem;
    padding: 0;
}
/* CONTACT US */
.contact-us{
    background-image: url('../img/p2-background-img-1\ \(1\).jpg');
}
.contact-us .row{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6.25rem 0rem;
}
.contact-us .btn{
    border-radius: 0;
    background-color: #be9c79;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border-color: #be9c79;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 1rem 2.5rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.contact-us .btn:hover{
    background-color: #262626;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.contact-us span{
    font-size: 1.25rem;
    font-weight: 400;
}
/* Footer PART-1 */
.stores{
    background-image: url('../img/footer-top-img-1.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
}
.stores .stores-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-footer{
    max-width: 10rem;
    height: auto;
    margin-top: 6.5625rem;
    margin-bottom: 1.875rem;
}
.stores .stores-content span {
    font-size: 0.9375rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.stores .stores-content h4{
    margin-top: 3.75rem;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Marcellus', serif;
}
.stores .stores-content .email-desc{
    margin-top: 3.75rem;
    margin-bottom: 0.9375rem;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Marcellus', serif;
}
.stores a span{
    color: #fff;
    font-size: 0.9375rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.stores a span:hover{
    color: #be9c79;
    cursor: pointer;
}
.input-group {
    max-width: 20.625rem;
    width: 100%;
    padding-bottom: 6.25rem;
}
.stores .form-control{
    padding: 1.1875rem 1.4375rem;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.input-group-text{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background-color: #fff;
}
.input-group-text:hover{
    background-color: #be9c79;
    border: 1px solid #be9c79;
}
.email-icon{
    font-size: 1.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
/* FOOTER PART-2 */
.part2{
    color: #fff;
    background-color: #121212;
    text-align: center;
}
.part2 ul{
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    padding-top: 3.75rem;
}
.part2 ul li:hover{
    color: #be9c79;
}
.part2 span a{
    color: #fff;
}
.part2 span a:hover{
    color: #be9c79;
}
.container{
    height: 100%;
}
.copyright{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    font-weight: 300;
    font-size: 0.9375rem;
    font-family: 'Open Sans', sans-serif;
    padding: 0rem;
    background-color: #121212;
}
.contacts, .navs{
    height: 100%;
    font-family: 'Marcellus', serif;
    font-weight: 300;
    font-size: 0.9375rem;
    background-color: #121212;
}
.navs li a{
    color: #fff;
}
.navs li a:hover{
    color: #be9c79;
    cursor: pointer;
}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width:576px) {
    /* Navbar */
    .logo{
        margin: auto;
    }
    .logo a img{
        height: 50px;
    }
    .navbar-nav .nav-item .nav-link{
        font-size: 15px;
    }
    .navbar-nav .nav-item{
        margin-left:40px;
    }
    .navbar-nav .nav-item .nav-link.active::after{
        width: 17%;
        width: 60px;
    }
    .navbar-nav .nav-item .nav-link.active{
        width: 100%;
    }
    .navbar-nav .nav-item .nav-link::after{
        bottom: 0rem;
        right: 0rem;
        width: 0%;
        height: 0.125rem;
        transition: .5s;
    }
    .dropdown-toggle::after {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
    }
    .side-bar{
        float: right;
        text-align: right;
        width: 17%;
        width: 60px;
    }
    .navbar-nav .nav-item .nav-link:hover::after{
        width: 100%;
        width: 17%;
        width: 60px;
    }
    /* HEADER */
    .header-title {
        font-size: 43px;
    }
    /* ABOUT */
    .about-des h2{
        font-size:30px;
        margin-bottom: 20px;
    }
    .about-des p{
        font-size: 16px;
        margin-bottom: 50px;
    }
    .item img{
        margin-bottom:10px ;
        width: 100%
    }
    .item p{
        font-size: 15px;
        margin-left: 10px;
        margin-bottom: 50px;
    }
    /* TESTIMONIAL */
    .carousel-caption{
        margin-top: 20px;
        top:0;
        padding-top:10px;
    }
    .carousel-item {
        height: 100vh;
    }
    .carousel-caption h5{
        font-size: 22px;
    }
    .carousel-item .leaves{
        width: 60%;
        margin: auto;
    }
    .carousel-caption img{
        margin-bottom: 10px;
    }
    .carousel-caption{
        margin-top: 10px;
    }
    .carousel-caption p{
        color: #fff;
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 7px;
        width: 100% !important;
        margin: auto;
    }
    .carousel-caption .spa1{
        font-size: 14px;
     }
     .carousel-caption .spa2{
         font-size: 14px;
     }
    /* COUNTER */
    .counter-items{
        padding-bottom: 2rem;
    }
    .counter-item {
        margin-top: 3rem;
    }
    .counter-item h3{
        font-size: 3.4375rem;
        margin-bottom: 1.25rem;
    }
    .counter-item h4{
        font-size: 1.25rem;
        margin-bottom: 0.625rem;
    }
    .counter-item p{
        font-size: 0.975rem;
        margin-bottom: 0.9375rem;
    }
    /* CONTACT US */
    .contact-us .row{
        padding: 4rem 0rem;
    }
    .contact-us .btn{
        font-size: 0.875rem;
        padding: 0.8rem 1.5rem;
        margin-top: 1.5rem;
    }
    .contact-us span{
        font-size: 1rem;
    }
    /* FOOTER PART-1 */
    .logo-footer{
        max-width: 10rem;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .stores .stores-content span {
        font-size: 0.8rem;
        text-align: center;
    }
    .stores .stores-content h4{
        margin-top: 2rem;
        font-size: 1.25rem;
    }
    .stores .stores-content .email-desc{
        margin-top: 2rem;
        margin-bottom: 0.9375rem;
        font-size: 1.25rem;
    }
    .stores a span{
        color: #fff;
        font-size: 0.9375rem;
    }
    .input-group {
        max-width: 20.625rem;
        width: 100%;
        padding-bottom: 3rem;
    }
    .stores .form-control{
        padding: 1.1875rem 1.4375rem;
    }
    /* FOTER PART-2 */
    .part2 ul{
        padding-top: 2rem;
    }
    .copyright{
        font-size: 0.9375rem;
    }
    .part2 .contacts ul{
        height: 100%;
        padding: 0;
        padding-top: 3.75rem;
    }
    .part2 .contacts li{
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width:767px) {
    /* Navbar */
    .logo{
        margin: auto;
    }
    .logo a img{
        height: 50px;
    }
    .navbar-nav .nav-item .nav-link{
        font-size: 15px;
    }
    .navbar-nav .nav-item{
        margin-left:40px;
    }
    .navbar-nav .nav-item .nav-link.active::after{
        width: 60px;
        
    }
    .navbar-nav .nav-item .nav-link.active{
        width: 100%;
    }
    .navbar-nav .nav-item .nav-link::after{
        bottom: 0rem;
        right: 0rem;
        width: 0%;
        height: 0.125rem;
        transition: .5s;
    }
    .dropdown-toggle::after {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
    }
    .side-bar{
        float: right;
        text-align: right;
        width: 60px;
    }
    .navbar-nav .nav-item .nav-link:hover::after{
        width: 60px;
    }
    /* HEADER */
    .header-title {
        font-size: 50px;
    }
    /* ABOUT */
    .about-des img{
        width: 75%;
    }
    .about-des h2{
         font-size:30px ;
    }
    .about-des p{
         font-size: 17px;
    }
    .item img{
         margin-bottom:30px ;
         box-sizing: border-box;
         padding-left: 15px;
         padding-right: 15px;
         width: 100%;
    }
    .item p{
        font-size: 9px
    }
    /* TESTIMONIAL */
    .carousel-caption{
        margin-top: 20px;
        top:0;
        padding-top: 10px;
    }
    .carousel-caption h5{
        font-size: 36px;
    }
    .carousel-caption img{
        margin-bottom: 30px;
    }
    .carousel-caption p{
        color: #fff;
        font-size: 14px;
        line-height: 22px;
    }

    /* COUNTER */
    .counter-items{
        padding-bottom: 2rem;
    }
    .counter-item {
        margin-top: 3rem;
    }
    .counter-item h3{
        font-size: 3.4375rem;
        margin-bottom: 1.25rem;
    }
    .counter-item h4{
        font-size: 1.25rem;
        margin-bottom: 0.625rem;
    }
    .counter-item p{
        font-size: 0.975rem;
        margin-bottom: 0.9375rem;
    }
    /* CONTACT US */
    .contact-us .row{
        padding: 4rem 0rem;
    }
    .contact-us .btn{
        font-size: 0.875rem;
        padding: 0.8rem 1.5rem;
        margin-top: 1.5rem;
    }
    .contact-us span{
        font-size: 1rem;
    }
    /* FOTER PART-1 */
    .logo-footer{
        max-width: 10rem;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .stores .stores-content span {
        font-size: 0.8rem;
        text-align: center;
    }
    .stores .stores-content h4{
        margin-top: 2rem;
        font-size: 1.25rem;
    }
    .stores .stores-content .email-desc{
        margin-top: 2rem;
        margin-bottom: 0.9375rem;
        font-size: 1.25rem;
    }
    .stores a span{
        color: #fff;
        font-size: 0.9375rem;
    }
    .input-group {
        max-width: 20.625rem;
        width: 100%;
        padding-bottom: 3rem;
    }
    .stores .form-control{
        padding: 1.1875rem 1.4375rem;
    }
    /* FOTER PART-2 */
    .part2 ul{
        padding-top: 2rem;
    }
    .copyright{
        font-size: 0.9375rem;
    }
    .part2 .contacts ul{
        height: 100%;
        padding: 0;
        padding-top: 3.75rem;
    }
    .part2 .contacts li{
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width:991px) {
    /* Navbar */
    .logo a img{
        height: 50px;
    }
    .navbar-nav .nav-item .nav-link{
        font-size: 15px;
    }
    .navbar-nav .nav-item{
        margin-left:40px;
    }
    .navbar-nav .nav-item .nav-link.active::after{
        width:60px;
    }
    .navbar-nav .nav-item .nav-link.active{
        width: 100%;
    }
    .navbar-nav .nav-item .nav-link::after{
        bottom: 0rem;
        right: 0rem;
        width: 0%;
        height: 0.125rem;
        transition: .5s;
    }
    .dropdown-toggle::after {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
    }
    .side-bar{
        float: right;
        text-align: right;
        width:60px;
    }
    .navbar-nav .nav-item .nav-link:hover::after{
        width:60px;
    }
    /* HEADER */
    .header-title {
        font-size: 70px;
    }
    /* ABOUT */
    .about-des img{
        width:30%;
    }
    .about-des h2{
         font-size:40px ;
    }
    .about-des p{
         font-size: 20px;
    }
    .item img{
         margin-bottom:30px ;
         box-sizing: border-box;
         padding-left: 15px;
         padding-right: 15px;
         width: 100%;
    }
    .item p{
        font-size: 12px;
    }
    /* TESTIMONIAL */
    .carousel-caption{
        margin-top: 20px;
        top:0;
        padding-top: 100px;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width:1199px) {
    /* HEADER */

    
    /* ABOUT */


    /* TESTIMONIAL */


}
