@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
a{
    text-decoration: none;
}
#nameAlert{
    display: none;
}
/* start navbar*/
.logo a img{
    width: 100%;
    height: 55px;
    cursor: pointer;
    margin-left:30px;
    margin-top: 0px;
    padding: 0;
}
.navbar-nav .nav-item .nav-link{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 23px;
    position: relative;
    box-sizing: border-box;
    font-family: 'Marcellus', serif;
}
.navbar-nav .nav-item{
    margin-left:40px;
}
.navbar-nav .nav-item .nav-link.active::after{
    width: 100%;
}
.navbar-nav .nav-item .nav-link.active{
    width: 100%;
}
.navbar-nav .nav-item .nav-link::after{
    content: '';
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 0%;
    height: 0.125rem;
    background-color: #fff;
    transition: .5s;
}
.navbar-toggler{
    background-color:#fff;
}
.navbar-toggler-icon{
    color: #fff !important;
}
.dropdown-toggle::after {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.side-bar{
    float: right;
    text-align: right;
    width: 20%;
}
.navbar-nav .nav-item .nav-link:hover::after{
    width: 100%;
}
/* HEADER */
.header{
    background-image: url(../img/menu.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.sweet-list{
    padding-top: 70px;
    font-weight: 600;
    font-family: 'Marcellus', serif;
}
.IMG{
    font-weight: 600;
}
.form-label{
    font-weight: 600;
}
.form{
    font-weight: 600;
}
.btn{
    font-weight: 600;
    border: 1px solid #000;
}
.btn:first-child:hover, :not(.btn-check)+.btn:hover:hover{
    border: 1px solid #be9c79;
    background-color: #be9c79;
    color: #000;
}
.list-table img{
    width:100px;
    height: 100px;
}
.form-control{
    width: 100%;
    min-width: 300px;
    max-width:600px;
}
/* Footer PART-1 */
.stores{
    background-image: url('../img/footer-top-img-1.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
}
.stores .stores-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-footer{
    max-width: 10rem;
    height: auto;
    margin-top: 6.5625rem;
    margin-bottom: 1.875rem;
}
.stores .stores-content span {
    font-size: 0.9375rem;
    font-weight: 300;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.stores .stores-content h4{
    margin-top: 3.75rem;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Marcellus', serif;
}
.stores .stores-content .email-desc{
    margin-top: 3.75rem;
    margin-bottom: 0.9375rem;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Marcellus', serif;
}
.stores a span{
    color: #fff;
    font-size: 0.9375rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.stores a span:hover{
    color: #be9c79;
    cursor: pointer;
}
.input-group {
    max-width: 20.625rem;
    width: 100%;
    padding-bottom: 6.25rem;
}
.stores .form-control{
    padding: 1.1875rem 1.4375rem;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.input-group-text{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background-color: #fff;
}
.input-group-text:hover{
    background-color: #be9c79;
    border: 1px solid #be9c79;
}
.email-icon{
    font-size: 1.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
/* FOOTER PART-2 */
.part2{
    color: #fff;
    background-color: #121212;
    text-align: center;
}
.part2 ul{
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    padding-top: 3.75rem;
}
.part2 ul li:hover{
    color: #be9c79;
}
.part2 span a{
    color: #fff;
}
.part2 span a:hover{
    color: #be9c79;
}
.container{
    height: 100%;
}
.copyright{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    font-weight: 300;
    font-size: 0.9375rem;
    font-family: 'Open Sans', sans-serif;
    padding: 0rem;
    background-color: #121212;
}
.contacts, .navs{
    height: 100%;
    font-family: 'Marcellus', serif;
    font-weight: 300;
    font-size: 0.9375rem;
    background-color: #121212;
}
.navs li a{
    color: #fff;
}
.navs li a:hover{
    color: #be9c79;
    cursor: pointer;
}


/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width:576px) {
    /* Navbar */
    .logo{
        margin: auto;
    }
    .logo a img{
        height: 50px;
    }
    .navbar-nav .nav-item .nav-link{
        font-size: 15px;
    }
    .navbar-nav .nav-item{
        margin-left:40px;
    }
    .navbar-nav .nav-item .nav-link.active::after{
        width: 17%;
        width: 60px;
    }
    .navbar-nav .nav-item .nav-link.active{
        width: 100%;
    }
    .navbar-nav .nav-item .nav-link::after{
        bottom: 0rem;
        right: 0rem;
        width: 0%;
        height: 0.125rem;
        transition: .5s;
    }
    .dropdown-toggle::after {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
    }
    .side-bar{
        float: right;
        text-align: right;
        width: 17%;
        width: 60px;
    }
    .navbar-nav .nav-item .nav-link:hover::after{
        width: 100%;
        width: 17%;
        width: 60px;
    }
    /* HEADER */
    /* .header{
        background-image: url(../img/menu.jpg);
        background-size: cover;
        background-attachment: fixed;
    } */
    .sweet-list{
        padding-top: 70px;
        font-weight: 600;
        font-family: 'Marcellus', serif;
    }
    .list-table{
        margin: 0;
        padding: 0;
    }
    .list-table img{
        width:100px;
        height: 100px;
    }
    .form-control{
        width: 100%;
        min-width: 300px;
    }
    /* FOOTER PART-1 */
    .logo-footer{
        max-width: 10rem;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .stores .stores-content span {
        font-size: 0.8rem;
        text-align: center;
    }
    .stores .stores-content h4{
        margin-top: 2rem;
        font-size: 1.25rem;
    }
    .stores .stores-content .email-desc{
        margin-top: 2rem;
        margin-bottom: 0.9375rem;
        font-size: 1.25rem;
    }
    .stores a span{
        color: #fff;
        font-size: 0.9375rem;
    }
    .input-group {
        max-width: 20.625rem;
        width: 100%;
        padding-bottom: 3rem;
    }
    .stores .form-control{
        padding: 1.1875rem 1.4375rem;
    }
    /* FOOTER PART-2 */
    .part2 ul{
        padding-top: 2rem;
    }
    .copyright{
        font-size: 0.9375rem;
    }
    .part2 .contacts ul{
        height: 100%;
        padding: 0;
        padding-top: 3.75rem;
    }
    .part2 .contacts li{
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width:767px) {
    /* Navbar */
    .logo{
        margin: auto;
    }
    .logo a img{
        height: 50px;
    }
    .navbar-nav .nav-item .nav-link{
        font-size: 15px;
    }
    .navbar-nav .nav-item{
        margin-left:40px;
    }
    .navbar-nav .nav-item .nav-link.active::after{
        width: 60px;
        
    }
    .navbar-nav .nav-item .nav-link.active{
        width: 100%;
    }
    .navbar-nav .nav-item .nav-link::after{
        bottom: 0rem;
        right: 0rem;
        width: 0%;
        height: 0.125rem;
        transition: .5s;
    }
    .dropdown-toggle::after {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
    }
    .side-bar{
        float: right;
        text-align: right;
        width: 60px;

    }
    .navbar-nav .nav-item .nav-link:hover::after{
        width: 60px;
    }
    /* FOOTER PART-1 */
    .logo-footer{
        max-width: 10rem;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .stores .stores-content span {
        font-size: 0.8rem;
        text-align: center;
    }
    .stores .stores-content h4{
        margin-top: 2rem;
        font-size: 1.25rem;
    }
    .stores .stores-content .email-desc{
        margin-top: 2rem;
        margin-bottom: 0.9375rem;
        font-size: 1.25rem;
    }
    .stores a span{
        color: #fff;
        font-size: 0.9375rem;
    }
    .input-group {
        max-width: 20.625rem;
        width: 100%;
        padding-bottom: 3rem;
    }
    .stores .form-control{
        padding: 1.1875rem 1.4375rem;
    }
    /* FOOTER PART-2 */
    .part2 ul{
        padding-top: 2rem;
    }
    .copyright{
        font-size: 0.9375rem;
    }
    .part2 .contacts ul{
        height: 100%;
        padding: 0;
        padding-top: 3.75rem;
    }
    .part2 .contacts li{
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width:991px) {
    /* Navbar */
    .logo a img{
        height: 50px;
    }
    .navbar-nav .nav-item .nav-link{
        font-size: 15px;
    }
    .navbar-nav .nav-item{
        margin-left:40px;
    }
    .navbar-nav .nav-item .nav-link.active::after{
        width:60px;
    }
    .navbar-nav .nav-item .nav-link.active{
        width: 100%;
    }
    .navbar-nav .nav-item .nav-link::after{
        bottom: 0rem;
        right: 0rem;
        width: 0%;
        height: 0.125rem;
        transition: .5s;
    }
    .dropdown-toggle::after {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
    }
    .side-bar{
        float: right;
        text-align: right;
        width:60px;
    }
    .navbar-nav .nav-item .nav-link:hover::after{
        width:60px;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width:1199px) {
    
}


