@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
a{
    text-decoration: none;
}
/* start navbar*/
.logo a img{
    width: 100%;
    height: 55px;
    cursor: pointer;
    margin-left:30px;
    margin-top: 0px;
    padding: 0;
}
.navbar-nav .nav-item .nav-link{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 23px;
    position: relative;
    box-sizing: border-box;
    font-family: 'Marcellus', serif;
}
.navbar-nav .nav-item{
    margin-left:40px;
}
.navbar-nav .nav-item .nav-link.active::after{
    width: 100%;
}
.navbar-nav .nav-item .nav-link.active{
    width: 100%;
}
.navbar-nav .nav-item .nav-link::after{
    content: '';
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 0%;
    height: 0.125rem;
    background-color: #fff;
    transition: .5s;
}
.navbar-toggler{
    background-color:#fff;
}
.navbar-toggler-icon{
    color: #fff !important;
}
.dropdown-toggle::after {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.side-bar{
    float: right;
    text-align: right;
    width: 20%;
}
.navbar-nav .nav-item .nav-link:hover::after{
    width: 100%;
}
/* end navbar*/
/* start login */
.header{
    background-image: url(../img/login/home-2-slider-image-3a.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-position: center -250px;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}
.input-group{
   max-width: 320px;
   margin-top: 30px;
}
.input-group .input-group-text{
    border: 1px solid #be9c79;
    padding: 19px 23px;
    font-size: 20px;
}
.form-control{
    border: 1px solid #be9c79;
    padding: 19px 23px;
    font-size: 20px;
}

.input-group .username, .input-group .password{
    width: 90%;
    margin: auto;
    padding:19px 23px;
    font-size: 14px;
    margin-bottom: 20px;
}
.btn{
    margin-top: 20px;
    background-color: rgb(38,38,38) ;
    background-color: #fff ;
    color: #000;
    border: none;
    padding:17px 20px;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.8px;
    max-width: 100px;
}
.btn:hover{
    background-color:#be9c79 !important;
    color: #000 !important;
    cursor: pointer;
}
/* end login */

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width:576px) {
    /* Navbar */
    .logo{
        margin: auto;
    }
    .logo a img{
        height: 50px;
    }
    .navbar-nav .nav-item .nav-link{
        font-size: 15px;
    }
    .navbar-nav .nav-item{
        margin-left:40px;
    }
    .navbar-nav .nav-item .nav-link.active::after{
        width: 17%;
        width: 60px;
    }
    .navbar-nav .nav-item .nav-link.active{
        width: 100%;
    }
    .navbar-nav .nav-item .nav-link::after{
        bottom: 0rem;
        right: 0rem;
        width: 0%;
        height: 0.125rem;
        transition: .5s;
    }
    .dropdown-toggle::after {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
    }
    .side-bar{
        float: right;
        text-align: right;
        width: 17%;
        width: 60px;
    }
    .navbar-nav .nav-item .nav-link:hover::after{
        width: 100%;
        width: 17%;
        width: 60px;
    }
    .header{
        background-image: url(../img/login/home-2-slider-image-3a.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        background-position: center 40px;
    }
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 140px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width:767px) {
    /* Navbar */
    .logo{
        margin: auto;
    }
    .logo a img{
        height: 50px;
    }
    .navbar-nav .nav-item .nav-link{
        font-size: 15px;
    }
    .navbar-nav .nav-item{
        margin-left:40px;
    }
    .navbar-nav .nav-item .nav-link.active::after{
        width: 60px;
        
    }
    .navbar-nav .nav-item .nav-link.active{
        width: 100%;
    }
    .navbar-nav .nav-item .nav-link::after{
        bottom: 0rem;
        right: 0rem;
        width: 0%;
        height: 0.125rem;
        transition: .5s;
    }
    .dropdown-toggle::after {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
    }
    .side-bar{
        float: right;
        text-align: right;
        width: 60px;
    }
    .navbar-nav .nav-item .nav-link:hover::after{
        width: 60px;
    }
    .header{
        background-image: url(../img/login/home-2-slider-image-3a.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        background-position: center 30px;
    }
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 140px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width:991px) {
    /* Navbar */
    .logo a img{
        height: 50px;
    }
    .navbar-nav .nav-item .nav-link{
        font-size: 15px;
    }
    .navbar-nav .nav-item{
        margin-left:40px;
    }
    .navbar-nav .nav-item .nav-link.active::after{
        width:60px;
    }
    .navbar-nav .nav-item .nav-link.active{
        width: 100%;
    }
    .navbar-nav .nav-item .nav-link::after{
        bottom: 0rem;
        right: 0rem;
        width: 0%;
        height: 0.125rem;
        transition: .5s;
    }
    .dropdown-toggle::after {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
    }
    .side-bar{
        float: right;
        text-align: right;
        width:60px;
    }
    .navbar-nav .nav-item .nav-link:hover::after{
        width:60px;
    }
    .header{
        background-image: url(../img/login/home-2-slider-image-3a.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        background-position: center -65px;
    }
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 140px;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width:1199px) {
    .header{
        background-image: url(../img/login/home-2-slider-image-3a.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        background-position: center -200px;
    }
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 140px;
    }
}


