@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
a{
    text-decoration: none;
}
/* start navbar*/
.logo a img{
    width: 100%;
    height: 55px;
    cursor: pointer;
    margin-left:30px;
    margin-top: 0px;
    padding: 0;
}
.navbar-nav .nav-item .nav-link{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 23px;
    position: relative;
    box-sizing: border-box;
    font-family: 'Marcellus', serif;
}
.navbar-nav .nav-item{
    margin-left:40px;
}
.navbar .nav-item .nav-link.active::after{
    width: 100%;
}
.navbar-nav .nav-item .nav-link.active{
    border-bottom: 2px solid #fff;
}
.navbar .nav-item .nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: .5s;
}
.navbar .nav-item .nav-link:hover::after{
    width: 100%;
}

/*Hedar*/
.header{
    background-image: url('img/p2-title-img-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 480px;
    background-position: center;
    margin-bottom: 70px;
}
.header-title {
    line-height: 1.22em;
    font-weight: 400;
    padding-top: 170px;
    margin-left: 547px;
    text-transform: uppercase;
    font-family:'Marcellus', serif ;
    font-size: 60px;
}
.header-title span{
    margin-top: 50px;
}
.overlay{
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
/*About*/
.about-des{
   text-align: center;
}
.about-des img{
    margin-bottom: 30px;
}
.about-des h2{
    color: #262626;
    font-family:'Marcellus', serif;
    font-size:45px ;
    font-weight:400 ;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.about-des p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.55em;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 50px;
}
.item img{
    margin-bottom:30px ;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
}
.item p{
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
   color:#656565;
}
/*Testimonial*/
.testimonial{
    padding: 150px 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% -26px;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background-attachment: fixed;
    background-position: 50% 28px;
    background-size: cover;
}
.carousel-indicators [data-bs-target]{
    background-color: #fff;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}
.carousel-caption{
    bottom: 220px;
}
.carousel-caption h5{
    text-transform: uppercase;
    color: #fff;
    font-family:'Marcellus', serif;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 400;
}
.carousel-caption img{
    margin-bottom: 30px;
}
.carousel-caption p{
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.carousel-caption .spa1{
   text-transform: uppercase;
   font-family: 'Marcellus', serif;
   font-size: 16px;
    letter-spacing: .5px;
    font-weight: 300;
}
.carousel-caption .spa2{
    font-style: italic;
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: 300;
}
/* COUNTER */ 
.counter-items{
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
}
.counter-item {
    margin-top: 100px;
}
.counter-item h3{
    color: #be9c79;
    font-family:'Marcellus', serif;
    font-size: 55px;
    margin-bottom: 20px;
}
.counter-item h4{
    color: rgb(38, 38, 38);
    font-family:'Marcellus', serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.counter-item p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    color: #656565;
    margin: auto;
    margin-bottom: 15px;
    padding: 0;
}
/* CONTACT US */
.contact-us{
    background-image: url('img/p2-background-img-1\ \(1\).jpg');
}
.contact-us .row{
    text-align: center;
    height: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-us .btn{
    border-radius: 0;
    background-color: #be9c79;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border-color: #be9c79;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.contact-us .btn:hover{
    background-color: #262626;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.contact-us span{
    font-size: 20px;
    font-weight: 400;
}
/* Footer PART-1 */
.stores{
    background-image: url('img/footer-top-img-1.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
}
.stores .stores-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-footer{
    max-width: 159px;
    height: auto;
    margin-top: 105px;
    margin-bottom: 30px;
}
.stores .stores-content span {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.stores .stores-content h4{
    margin-top: 60px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Marcellus', serif;
}
.stores .stores-content .email-desc{
    margin-top: 60px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Marcellus', serif;
}
.stores a span{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.stores a span:hover{
    color: #be9c79;
    cursor: pointer;
}
.input-group {
    width: 330px;
    padding-bottom: 100px;
}
.stores .form-control{
    padding: 19px 23px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.input-group-text{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background-color: #fff;
}
.input-group-text:hover{
    background-color: #be9c79;
    border: 1px solid #be9c79;
}
.email-icon{
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}
/* FOOTER PART-2 */
.part2{
    height: 165px;
    color: #fff;
    background-color: #121212;
}
.part2 ul{
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    padding-top: 60px;
}
.part2 ul li:hover{
    color: #be9c79;
}
.part2 span a{
    color: #fff;
}
.part2 span a:hover{
    color: #be9c79;
}
.container{
    height: 100%;
}
.copyright{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}
.contacts, .navs{
    height: 100%;
    font-family: 'Marcellus', serif;
    font-weight: 300;
    font-size: 15px;
}